@font-face{ 
	font-family: timeburner;
	src: url("timeburnerbold-pegr-webfont.woff");
}

body {
    font-family: timeburner;
    color: #ffffff;
    background-image: url("space.jpg");
    background-size: auto 812px;

    display: grid;
    grid-template-columns: 1fr;
  
    grid-template-areas: 
          "title"
          "mensen"
          "bar"
          "pie"
          "line";
}

h1 {
    grid-area: title;
    text-align: center;
}
.aantal-mensen {
    grid-area: mensen;
}
.bar-chart {
    grid-area: bar;
}
.pie-chart {
    grid-area: pie;
}
.line-chart {
    grid-area: line;
}

.witte-achtergrond {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    margin: 0 20px 20px 20px;
}
h2 {
    margin: 0;
}

span {
    font-size: 0.75em;
}

button {
    font-family: timeburner;
    font-size: 20px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #ffffff;
    border-radius: 50%;
}
#opslaan {
    display: block;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
}

#snelheidsbalk {
    position: relative;
    background-color: black;
    border: 2px solid #ffffff;
    margin: 0;
    overflow: hidden;
}
    
#balk {
    background-color: #88DFFF;
    width: 0px;
    height: 20px;
}

@media only screen and (min-width: 833px) and (max-width: 1365px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
      
        grid-template-areas: 
              "title title"
              "mensen bar"
              "pie pie"
              "line line";    
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1919px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
      
        grid-template-areas: 
              "title title"
              "mensen bar"
              "pie line";    
    }
}

@media only screen and (min-width: 1920px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      
        grid-template-areas: 
              "title title title"
              "mensen pie pie"
              "bar pie pie"
              "line line line";    
    }
}